/* CSS Reset */
body,ul,p{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-image:url(images/animal-bg.jpg);
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    background-image: url(images/rope.png);
    background-position: center;
} 
.header{
    text-align: center;
}
.logo{
    display: inline-block;
    background-image:url(images/logo.png);
    width: 450px;
    height: 140px;
    margin: 50px 0 25px;
   

}
.menu{
    display: inline-block;
    width:50%;
    color: rgb(123, 123, 123);
}
.menu li{
    padding: 5px;
}
.menu li a{
    display: block;
    border: 3px solid;
    padding: 10px;
}
.menu li a:hover{
    color: orange
    
}

.content{
    background-color: orange;
}

.footer{
   text-align: center;
   color: orange;
   border-bottom: 10px solid rgb(74, 21, 21);
}

.footer:before {
    
    content: '';
    background-image: url(images/grass.png);
    background-position: center;
    display: block;
    height: 200px;
} 
.footer p{
    background-color: saddlebrown;
    
    padding: 10px 0;
}